.Sponsers {
    min-height: 50vh;
    background-color: var(--bgc2);
}

.sponserContainer {
    margin-top: 60px;
    background-color: var(--bgc1);
    padding: 80px 0px;
}

.innerCarousel {
    display: flex;
}

.carousel {
    overflow: hidden;
    cursor: grab;
}

.item img {
    pointer-events: none;
}