.Sponsers {
    min-height: 50vh;
    background-color: var(--bgc2);
}

.sponserContainer {
    margin-top: 60px;
    background-color: var(--bgc1);
    padding: 80px 0px;
}

.innerCarousel {
    display: flex;
}

.carousel {
    overflow: hidden;
    cursor: grab;
}

.item img {
    pointer-events: none;
}

/* arrow left and right */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
  }
  
  .leftArrow {
    left: 10px;
  }
  
  .rightArrow {
    right: 10px;
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  