.sponsorsSection {
  background-color: var(--bgc1);
  overflow: auto;

}


.sponsorsContainer {
  margin-top: var(--spacing-between-sections);
  margin-bottom: var(--spacing-between-sections);
}

.sliderContainer {
  margin-top: var(--margin-between-items);
}


.sponsorsContainer img {
  height: 7.5rem;
  cursor: grab;
}

.sponsorsContainer img:active {
  cursor: grabbing;
}

@media(max-width:400px) {

  .sponsorsContainer {
    text-align: center;

  }

  .sponsorsContainer img {
    width: 85% !important;
  }


}