.CompetitionDetails {
    background-color: var(--bgc1);

}

.CompetitionDetailsContainer {
    margin-top: var(--spacing-top-section);
    margin-bottom: var(--spacing-between-sections);
    display: flex;

}


/* competitionDetailsContent=======================================> */
.competitionDetailsContent {
    width: 50%;


}

.competitionDetailsContent h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
    color: var(--primaryColor);
}

.competitionDetailsContent p {
    color: var(--secondaryColor);
    font-size: var(--font-size-p);
    font-weight: 600;
    margin-top: var(--margin-between-items) !important;
    text-align: justify;

}



/* cometitionDetailsImage============================================> */
.cometitionDetailsImage {
    width: 50%;
}

.cometitionDetailsImage img {
    box-shadow: 2px 2px 7px 0px;

}

/* responsiveDesgin===================================================> */
@media (max-width:1200px) {

    .CompetitionDetailsContainer {
        flex-direction: column;
        align-items: center;
    }

    .competitionDetailsContent p {
        width: 100%;
        text-align: center !important;

    }

    .competitionDetailsContent {
        width: 90%;
        text-align: center !important;
    }


    .cometitionDetailsImage {
        width: 70%;
        margin-top: var(--margin-between-items);
    }

}

@media (max-width:1000px) {


    .cometitionDetailsImage {
        width: 80%;
    }
}

@media (max-width:800px) {



    .cometitionDetailsImage {
        width: 90%;
    }

    .competitionDetailsContent {
        width: 100%;
    }


    
}
@media (max-width:600px) {



    .cometitionDetailsImage {
        width: 100%;
    }

  

    
}