.modalContainer {
    background-color: var(--bgc1) !important;
    color: var(--primaryColor) !important;
}

.closeBtn {
    font-size: 16px !important;
}

.modalUl {
    padding: 1.25rem 0;
}

.modalContainer h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.modalUl li a {
    color: var(--primaryColor);
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-between-items);
    font-weight: 600;
    
}

.logoutButton {
    margin-top: var(--margin-between-items);
    background-color: #ff5c5c;
    color: #ffffff;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logoutButton:hover {
    background-color: #d9534f;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.logoutButton:active {
    background-color: #c9302c;
    transform: translateY(0);
}

.modalUl {
    transition: color ease-in-out .3s;

}


.modalUl .activeLink {
    color: #ae2a26;
    transition: .3s;
}