.Hero {
    height: 100vh;
    background-color: black;
    background-image: url(../../Assets/HomeImage.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.75)
}

.content,
.sliderContainer {
    width: 50%;

}

.content h1 {
    color: #f8f9fa;
    font-size: 75px;
    font-weight: 600;
}

.content p {
    color: #d1d5db;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 24px !important;

}

.buttons {
    margin-top: 24px;
}

.buttons button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 2.375rem;
    border-radius: .9375rem;
    border: 2px solid #E4E4E4;

}

.buttons .btn1 {
    background-color: inherit !important;
    color: #f8f9fa;
    margin-right: 13px;
}

.buttons .btn2 {
    color: #601719;
    background-color: #f8f9fa;

}

/* responsive design==========================> */

@media (max-width:1380px) {
    .content h1 {
        font-size: 60px;
    }
}

@media(max-width:1200px) {
    .Hero {
        height: auto !important
    }

    .container {
        padding-top: calc(90px + 80px);
        padding-bottom: 80px;
        flex-direction: column;
    }

    .content,
    .sliderContainer {
        width: 90%;
    }

    .sliderContainer {
        margin-top: 40px;
    }
}

@media (max-width:800px) {

    .content,
    .sliderContainer {
        width: 100%;
    }
}

@media (max-width:690px) {
    .content h1 {
        font-size: 50px;
    }
}



@media (max-width:575px) {
    .content h1 {
        font-size: 40px;
    }
}

@media(max-width:400px) {
    .content h1 {
        font-size: 40px;
    }

}

@media(max-width:346px) {
    .content h1 {
        font-size: 35px;
    }
}