.Hero {
    height: 100vh;
    background-color: black;
    background-image: url(../../Assets/HomeImage.webp);
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75)
}

.content,
.sliderContainer {
    width: 50%;

}

.content h1 {
    color: #f8f9fa;
    font-size: var(--font-size-h1);
    font-weight: 600;
}

.content p {
    color: #d1d5db;
    font-size: var(--font-size-p);
    font-weight: 600;
    margin-top: var(--margin-between-items) !important;

}

.buttons {
    margin-top: var(--margin-between-items) !important;
}

.buttons button {
    font-size: var(--font-size-p);
    font-weight: 600;
    padding: .625rem 2.375rem;
    border-radius: .9375rem;
    border: 2px solid #E4E4E4;

}

.buttons .btn1 {
    background-color: inherit !important;
    color: #f8f9fa;
    margin-right: var(--margin-between-items);
}

.buttons .btn2 {
    color: #601719;
    background-color: #f8f9fa;

}

/* responsive design==========================> */

@media (max-width:1380px) {
    .content h1 {
        font-size: 3.75rem;
    }
}

@media(max-width:1200px) {
    .Hero {
        height: auto !important
    }

    .container {
        padding-top: calc(90px + 80px);
        padding-bottom: var(--spacing-between-sections);
        flex-direction: column;
    }

    .content {
        width: 90%;
    }

    .sliderContainer {
        width: 70%;
    }

    .content {
        text-align: center;
    }

    .sliderContainer {
        margin-top: var(--margin-between-items);
    }
}

@media (max-width:1000px) {

    .sliderContainer {
        width: 80%;
    }
}


@media (max-width:800px) {

    .content {
        width: 100%;
    }

    .sliderContainer {
        width: 90%;
    }
}
@media (max-width:600px) {
    .sliderContainer {
        width: 100%;
    }
}
@media(max-width:370px) {
    .content h1 {
        font-size: 35px;
    }
}