.CardsSection {
    min-height: 100vh;
    background-color: var(--bgc2);
}


.card {
    background-color: var(--tertiaryColor);
    border: #e1e2e4 2px solid;
}

.card p {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondaryColor);


}

.container .row {
    margin-top: 60px !important;
}

@media (max-width:1200px) {
    .row {
        row-gap: 40px !important;
        display: flex;
        justify-content: center;
    }

    .container {
        padding: 80px 0px;
    }
}

@media (max-width:500px) {


    .row>div {
        width: 80%;
    }

}


@media (max-width:450px) {


    .row>div {
        width: 90%;
    }

}


/* button===========================> */
.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hoverUnderlineAnimation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hoverUnderlineAnimation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9c1510;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hoverUnderlineAnimation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}