/* HeroSlider.module.css */
.heroSliderSection {
    position: relative;
}


.heroSliderContainer .slick-dots li button::before {
    opacity: 1;
    color: rgb(75, 74, 74);

}

.heroSliderContainer .slick-dots li.slick-active button::before {
    opacity: 1;
    color: white;
}


.heroSliderContainer .heroSliderItem {
    outline: none !important;
}

.heroSliderContainer img {
    cursor: grab;
}

.heroSliderContainer img:active {
    cursor: grabbing;
}