.aboutPage {
    background-color: var(--bgc1);
    overflow: auto;
}

.aboutPageContainer {
    margin-top: var(--spacing-top-section);
    margin-bottom: var(--spacing-between-sections);
    display: flex;
}




.aboutPage .aboutPageContainer h2 {
    color: var(--primaryColor) !important;
    font-size: var(--font-size-h2);
    font-weight: 600;
}


/* AboutPageContpxent=========================================> */
.aboutPageContent {
    width: 50%;
}

.aboutPageContent p {
    color: var(--secondaryColor);
    font-size: var(--font-size-p);
    font-weight: 600;
    margin-top: var(--margin-between-items) !important;
    text-align: justify;
    width: 90%;
}

.aboutPageContent button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: .625rem 2.375rem;
    border-radius: .625rem;
    border: 2px solid #9c1510;
    background-color: var(--bgc2) !important;
    color: var(--primaryColor);
    transition: .3s transform ease-in-out;
    margin-top: var(--margin-between-items);
}

.aboutPageContent button:hover {
    transform: translateY(-5%);

}

/* AboutPageImage========================================> */

.aboutPageImage {
    width: 50%;

}

.aboutPageImage img {
    box-shadow: .125rem .125rem .625rem 0px;

}


/* VisionAndMissionSection================================. */
.visionAndMissionSection {
    background-color: var(--bgc1);
    overflow: auto;

}

.visionAndMissionSectionContainer {
    display: flex;
    margin-top: var(--spacing-between-sections);
    margin-bottom: var(--spacing-between-sections);
}

.contentContainer {
    width: 50%;
}

.contentContainer h2 {
    color: var(--primaryColor) !important;
    font-size: var(--font-size-h2);
    font-weight: 600;
}


.contentContainer p {
    color: var(--secondaryColor);
    font-size: var(--font-size-p);
    font-weight: 600;
    margin-top: var(--margin-between-items) !important;
    width: 90%;
    text-align: justify;
}

.imageContainer {
    width: 50%;
    text-align: center;
}

.imageContainer img {
    width: 80%;
}

/* videoContainerSection ===========================================>*/
.closeButton {

    position: absolute;
    top: -10%;
    right: -1%;
    font-size: 1.875rem;
    z-index: 1050;
    color: rgb(255, 255, 255);
    cursor: pointer;


}

.videoContainer {
    width: 60% !important;
}

/* responsive design=======================================> */
@media (max-width:1200px) {

    .aboutPageContainer, .visionAndMissionSectionContainer {
        flex-direction: column;
        align-items: center;
    }

    .aboutPageContent, .contentContainer {
        width: 90%;
        text-align: center;

    }

    .aboutPageContent p, .contentContainer p {
        text-align: center;
        width: 100%;
    }


    .aboutPageImage, .imageContainer {
        width: 70%;
        margin-top: var(--margin-between-items);
    }

    .videoContainer {
        width: 70% !important;
    }



}

@media (max-width:1000px) {

    .aboutPageImage, .imageContainer {
        width: 80%;
    }
    .videoContainer {
        width: 80% !important;
    }
}

@media (max-width:800px) {



    .aboutPageContent, .contentContainer {
        width: 100%;
        text-align: center;

    }

    .aboutPageImage, .imageContainer {
        width: 90%;
    }
    .videoContainer {
        width: 90% !important;
    }


}

@media (max-width:600px) {

    .aboutPageImage, .imageContainer {
        width: 100%;
    }

}