nav {
    transition: background-color ease-in .2s;
    background-color: white !important;
}

.navUl li a {
    font-size: var(--font-size-p);
    color: var(--primaryColor) !important;
    font-weight: 600;
}



.navUl li a {
    color: var(--primaryColor);
}

.navUl {
    display: flex;

}

.logoutButton {
    background-color: #ff5c5c;
    color: #ffffff;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logoutButton:hover {
    background-color: #d9534f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.logoutButton:active {
    background-color: #c9302c;
    transform: translateY(0);
}

.menu {
    color: var(--primaryColor);
    display: none !important;
    cursor: pointer;
    font-size: 18px;
}


.navUl {
    display: flex;
    align-items: center;
}

.navUl li a {
    position: relative;
}

.navUl li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: #9c1510 !important;
    bottom: -10px;
    left: 0;
    transition: .3s all ease-in;
}

.navUl li a:hover::after {
    width: 100%;
}

.navUl li a.activeLink::after {
    width: 100% !important;
}





/* responsive design=====================================> */

@media (max-width:1180px) {
    .navUl {
        display: none;
    }

    .menu {
        display: block !important;
    }

}

@media (max-width:600px) {
    .logo img {
        width: 75%;
    }



}

@media (max-width:400px) {
    .navBarContainer {
        width: 95% !important;
    }


}