.ContactUs {
    background-color: var(--bgc2);
}

.contactUsContainer {
    margin-top: var(--spacing-between-sections);
    margin-bottom: var(--spacing-between-sections);
}

.fromAndImageContainer {
    background-color: var(--bgc1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin-between-items) !important;
    border: 2px solid #dcdcdd;
    padding: 5rem 1.5625rem !important;
}

/* formContainer================================================> */
.formContainer {
    width: 50%;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-between-items) !important;
    width: 90%;
}

.formContainer form input,
.formContainer form textarea {
    font-size: var(--font-size-p);
    border: #e1e2e4 2px solid;
    box-shadow: none !important;

}

.formContainer form input:focus,
.formContainer form textarea:focus {
    border: #e1e2e4 2px solid;
}

.formContainer form button {
    width: 100%;
    font-size: var(--font-size-h6);
    font-weight: 600;
    color: #B31010;
    padding: .5rem 2.375rem;
    border-radius: .625rem;
    border: 2px solid #9C1510;
    background-color: var(--bgc2);
    transition: .3s ease-in-out transform;
}

.formContainer form textarea {
    resize: none !important;
}

.formContainer form button:hover {
    transform: translateY(-5%);

}

/* contactImage=================================================> */
.ContactImage {
    width: 50%;
}

/* success message animation========================================> */
.successMessage {
    color: #28a745;
    text-align: center;
    margin-top: 1rem;
    font-size: var(--font-size-h6);
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* responsiveDesign=================================================> */

@media (max-width:1200px) {

    .fromAndImageContainer {
        flex-direction: column;

    }

    .formContainer {
        width: 90%;
        margin-bottom: var(--margin-between-items);
    }

    .formContainer form {
        width: 100%;
    }

    .contactImage {
        width: 70%;
    }



}

@media (max-width:1000px) {


    .contactImage {
        width: 80%;
    }



}

@media (max-width:800px) {



    .formContainer {
        width: 100%;
    }


    .contactImage {
        width: 90%;
    }



}

@media (max-width:600px) {

    .contactImage {
        width: 100%;
    }


}