.SubTeam {
    background-color: var(--bgc1);
    padding: 1px 0;
    /* to make a space between subteam and subteamContainer*/
}

.subTeamContainer {
    margin-top: var(--spacing-top-section);
    margin-bottom: var(--spacing-between-sections);
    display: flex;
}

/* subTeamContent */
.subTeamContent {
    width: 50%;
}

.subTeamContent h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
    color: var(--primaryColor);

}

.subTeamContent p {
    font-size: var(--font-size-p);
    font-weight: 600;
    margin-top: var(--margin-between-items) !important;
    width: 95%;
    text-align: justify;
    color: var(--secondaryColor);

}

/* subTeamImage */
.subTeamImage {
    width: 50%;
    display: flex;
}


.subTeamImage img {
    box-shadow: .125rem .125rem .4375rem 0px;
    width: 100%;
}

@media (max-width:1200px) {
    .subTeamContainer {
        flex-direction: column;
        align-items: center;

    }

    .subTeamContent {
        width: 90%;
        text-align: center;
    }

    .subTeamContent p {
        width: 100%;
    }

    .subTeamImage {
        width: 70%;
        margin-top: var(--margin-between-items);
    }
}

@media (max-width:1000px) {

    .subTeamImage {
        width: 80%;
    }
}

@media (max-width:800px) {


    .subTeamContent {
        width: 100%;
    }

    .subTeamImage {
        width: 90%;
    }

    .subTeamContent h2 {
        font-size: 3.125rem;
    }
}

@media (max-width:600px) {

    .subTeamContent h2 {
        font-size: 3.4375rem;
    }



    .subTeamImage {
        width: 100%;
    }

}

@media (max-width:400px) {

    .subTeamContent h2 {
        font-size: 3.125rem;
    }



}

@media (max-width:350px) {

    .subTeamContent h2 {
        font-size: 2.8125rem;
    }



}