/* global attribute==================================> */
* {
    font-family: "Cairo", sans-serif;
}

:root {
    /* text color */
    --primaryColor: black;
    --secondaryColor: rgb(56, 55, 55);
    --tertiaryColor: #f5f7fa;

    /* background color */
    --bgc1: #f5f7fa;
    --bgc2: #fff;

    /* font */
    --font-size-h1: 4.375rem;
    --font-size-h2: 3.75rem;
    --font-size-p: 1.25rem;
    --font-size-h6: 1.25rem;

    /* margin */
    --margin-between-items: 1.25rem;
    --spacing-top-section: 10.625rem; /* for section just contain an navbar above*/
    --spacing-between-sections: 5.3125rem;
}

button:disabled{
    opacity: .4;
    cursor: not-allowed;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0 !important;
}

.myContainer {
    width: 90%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.redborder {
    border: red solid 3px;
}

.greenborder {
    border: green solid 5px;
}

.blueborder {
    border: blue solid 3px;
}

.cursorPointer {
    cursor: pointer;
}
.ytp-cued-thumbnail-overlay-image{
    height: 500px !important;
}

/* responsive design=======================================> */
@media(max-width:651px) {
    :root {
        font-size: 14px;
    }
}

@media(max-width:550px) {
    :root {
        font-size: 12px;
    }
}

@media(max-width:420px) {

    .myContainer {
        width: 95%;
    }
}

@media(max-width:400px) {
    :root {
        font-size: 11px;
    }

    .myContainer {
        width: 97%;
    }
}