.UsersManagementDashboard {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--bgc2);
    padding: 1.5625rem 1.25rem;
    border: solid 2px #d4d5d6;

}

.searchInput {
    padding: .5rem;
    margin-bottom: var(--margin-between-items);
    width: 12.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchInput:focus {
    outline: none;
}

.cell, .teamCell, .emailCell {
    font-size: 1rem !important;
    color: var(--secondaryColor);
}

.teamCell, .emailCell {
    width: 400px !important;
}

.buttons {
    display: flex;
}

.deleteButton, .updateButton {
    font-size: .9375rem;
    background-color: #e13647;
    padding: .375rem .5rem;
    border-radius: 3px;
    color: white;
    border: none;
    margin-right: .3125rem;
}

.updateButton {
    background-color: #1a8653;
}

.addUserButton {
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 3px;
    font-size: 1.125rem;
}


/* addUsersComponents styles */


.addUsersForm label {
    font-size: var(--font-size-h6);
    font-weight: 600;
    color: #595c5f;
    margin-bottom: 10px;
}

.addUsersForm input {
    width: 100%;
    margin-bottom: var(--margin-between-items);
    padding: .5rem .3125rem;
    border-radius: 5px;
    border: solid 2px #e1e2e4 !important;
    background-color: var(--bgc2);

}

.usersModalHeader h1 {
    font-size: var(--font-size-h6);
    font-weight: 600;
    color: var(--primaryColor);


}


.addUsersForm button {
    width: 100%;
    padding: .75rem .625rem;
    font-size: var(--font-size-h6);
    font-weight: 600;
    color: #9c1510;
    border-radius: 5px;
    background-color: var(--bgc2);
    border: 2px solid #9c1510;
    transition: .3s transform ease-in-out;
}

.addUsersForm button:hover {
    transform: translateY(-5%);
}